@media(max-width:1100px) {



    .hero {
        height: auto;
    }


    .content_hero {
        flex-wrap: wrap;
        padding-top: 60px;
    }


    .hero_desc {
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .hero_img-wrap {
        height: 593px;
        width: 595px;
        margin-left: auto;
    }


    .hero__btn-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .hero_img {
        flex-shrink: 0;
    }

    .qaz_desc {
        margin: 0 auto;
        margin-top: 16px;

    }

    .hero_img-wrap {
        margin-right: auto;
        width: 569px;
        height: 593px;
    }

    .headr_img {
        flex-shrink: 0;
    }

    .headr-wrap {
        margin-right: auto;
        width: 579px;
        height: 599px;
        margin: auto;

    }

    .qaz {
        height: auto;
    }

    .qaz_content {
        flex-wrap: wrap;
        padding-top: 60px;
    }

    .friends {
        height: auto;
    }

    .friendsslider {
        flex-wrap: wrap;
        padding-top: 60px;
    }

    .sliderlist {
        margin: 0 auto;
        margin-top: 60px;
    }

    .frindsbtn-wrap {
        margin-top: 60px;
        width: 564px;
        height: 46px;
    }

    .frindsbtn {
        margin-top: 60px;
        width: 564px;
        height: 546px;
    }


    .headr_img {
        flex-shrink: 0;
    }


    .hero_btn-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}